.block-news {
   width     : 97.5%;
   min-height: 125px;
   background: #fff;
   margin    : 4% 1.25%;
}

.block-news .block-left {
   width      : 50%;
   float      : left;
   line-height: 125px;
}

.block-left span {
   color         : #ff5912;
   text-transform: uppercase;
   font-weight   : bold;
   font-size     : 1.285rem;
   float         : left;
   margin        : 0 30px 0 50px;
}

.block-left p {
   float     : left;
   font-style: italic;
}

.block-news .block-right {
   width      : 50%;
   float      : left;
   line-height: 125px;
   text-align : right;
}

.block-news .block-right input[type="submit"] {
   width      : 100px;
   height     : 50px;
   margin     : 40px 60px;
   background : #ff5912;
   border     : none;
   outline    : none;
   color      : #fff;
   font-weight: bold;
   cursor     : pointer;

}

.block-news .block-right input[type="email"] {
   font-style  : italic;
   outline     : none;
   border      : none;
   margin-right: 150px;
}

.block-news .block-right img {
   position    : relative;
   top         : 2px;
   margin-right: 10px;
}

@media screen and (max-width:768px) {
   .block-news .block-left {
      width: 100%;
   }

   .block-news input {
      float: left;
   }

   .block-news p {
      width     : 100%;
      text-align: center;
   }

   .block-news .block-right {
      width     : 100%;
      text-align: center;
   }

   .block-news i {
      float      : left;
      margin-left: 50px;
   }

   .block-news .block-right input[type="email"] {
      margin-right: 70px;
   }

   .block-news .block-right input[type="submit"] {
      margin  : 0 60px;
      position: relative;
      bottom  : 15px;
   }
}

@media screen and (max-width:576px) {

   .block-news .block-left span {
      height: 70px;
   }

   .block-news .block-left p {
      height: 100px;
   }
   .block-left span {
      margin: 0;
   }

   .block-news .block-right input[type="submit"] {
      float: none;
   }

   .block-news i {
      font-size: 1.2rem;
      position: relative;
      top: 7px;
   }

   .block-news .block-right input[type="email"] {
      width        : 70%;
      height       : 40px;
      float        : left;
      border       : 1px solid rgb(178, 178, 179);
      border-radius: 5px;
      margin       : 0 0 0 10px;
   }


}