.section-description {
   text-align: center;
   font-size : 1.142rem;
   margin    : 20px 0 50px 0;
}

.goods-block {
   margin: 80px 0 0 0;
}

.goods-block::after {
   display: block;
   content: "";
   width  : 100%;
   clear  : both;
}

.goods-cart {
   min-height: 350px;
   background: #fff;
   text-align: center;
   font-size : 1.142rem;
}

.goods-cart img {
   margin-top: 30px;
}

.goods-cart .goods-name {
   margin-top : 25px;
   font-weight: bold;
}

.goods-cart .goods-price {
   color      : #ff5912;
   font-weight: bold;
   padding    : 20px 0;
}

.mouse-hover .goods-name {
   color: #ff5912;
}

.mouse-hover .goods-size {
   padding-top: 15px;
}

.mouse-hover .goods-ico {
   padding: 30px;
   cursor : pointer;
}

.goods-ico i {
   margin: 0 3px;
}

.mouse-hover .goods-color {
   text-align: center;
   position  : relative;
}

.mouse-hover .goods-color::after {
   content   : "";
   display   : block;
   width     : 170px;
   height    : 1px;
   background: #f2f4f7;
   position  : absolute;
   right     : 48px;
}

.mouse-hover .goods-color div {
   display: inline-block;
   cursor : pointer;
   margin : 30px 2px 20px 2px;
}

.mouse-hover .goods-color .ico-size {
   width        : 14px;
   height       : 14px;
   border-radius: 100%;
}

.mouse-hover .goods-color .red {
   background: #E94650;
}

.mouse-hover .goods-color .black {
   background: #43525D;
}

.mouse-hover .goods-color .blue {
   background: #44C1FF;
}

.mouse-hover .goods-color .green {
   background: #30DC7A;
}

.block-next-items {
   width           : 97.5%;
   min-height      : 60px;
   float           : left;
   margin          : 5% 1.25%;
   background-color: #fff;
   text-align      : center;
   padding-top     : 22px;
   position        : relative;
   right           : 0;
   cursor          : pointer;
}

@media screen and (max-width:768px) {
   .goods-cart {
      margin: 10px 10px;
   }
}