.sidebar-block {
   width     : 97.5%;
   min-height: 300px;
   background: #fff;
   margin    : 0 1.25% 20px 1.25%;
   padding   : 20px 0;
}

.price-block {
   min-height: 230px;
}

.sidebar-block a {
   color          : #34404b;
   text-decoration: none;
}

.sidebar-block h3 {
   color    : #ff5912;
   font-size: 16px;
   padding  : 0 60px 25px 60px;
}

.sidebar-block ul li {
   list-style : none;
   font-weight: bold;
   margin     : 25px 20px;
}

.inactive-square::before {
   content   : "";
   display   : inline-block;
   width     : 12px;
   height    : 12px;
   background: #edf0f2;
   margin    : 1px 3px 0 0;
}

.active-square::before {
   content: "";
   display: inline-block;
   width  : 5px;
   height : 5px;
   border : 3px solid #ff5912;
   margin : 2px 3px 0 0;
}

.double-slider {
   position  : relative;
   min-height: 50px;
}

.double-slider .line-1 {
   height    : 2px;
   background: #edf0f2;
   position  : absolute;
   top       : 10px;
   left      : 50px;
   right     : 50px;
}

.double-slider .line-2 {
   height    : 2px;
   background: #34404b;
   position  : absolute;
   top       : 10px;
   left      : 80px;
   right     : 80px;
}

.dot {
   width        : 10px;
   height       : 10px;
   background   : #34404b;
   border-radius: 100%;
   position     : absolute;
   top          : 6px;
}

.left-dot .dot {
   left: 75px;
}

.right-dot .dot {
   right: 75px;
}

.dot-price {
   font-size: 14px;
   position : absolute;
   top      : -20px;
}

.left-dot .dot-price {
   left: 70px;
}

.right-dot .dot-price {
   right: 60px;
}

.slider-from-to {
   text-align: center;
}

.slider-from-to input[type="text"] {
   width       : 40px;
   height      : 25px;
   background  : #edf0f2;
   border      : none;
   margin-right: 15px;
}

.slider-from-to span {
   font-size   : 14px;
   margin-right: 10px;
}

.block-next-items {
   width           : 70%;
   min-height      : 60px;
   float           : left;
   margin          : 1.25% 1.25%;
   background-color: #fff;
   text-align      : center;
   padding-top     : 22px;
   position        : relative;
   right           : 0;
}

.single-goods {
   background: #fff;
   padding   : 30px 0;
}

.single-goods::after {
   content: "";
   display: block;
   width  : 100%;
   clear  : both;
}

.single-goods-left {
   float     : left;
   width     : 39.1666%;
   margin    : 1.25% 1.25%;
   text-align: center;
}

.single-goods-right {
   float : right;
   width : 55.833%;
   margin: 1.25% 1.25%;
}

.goods-img-max {
   padding   : 35px 0;
   min-height: 275px;
}

.goods-img-max img {
   max-width : 100%;
   max-height: 100%;
}

.goods-img-min div {
   width       : 95px;
   height      : 70px;
   background  : #edf0f2;
   margin-right: 15px;
   overflow    : hidden;
   display     : inline-block;
   line-height : 112px;
   cursor      : pointer;
}

.goods-img-min img {
   max-width : 100%;
   max-height: 80%;
}

.goods-img-min .active {
   background: #ff5912;
}

.goods-img-min .active img {
   opacity: 0.3;
}

.single-goods-cart h1 {
   font-size     : 40px;
   color         : #ff5912;
   font-weight   : 900;
   text-transform: uppercase;
}

.single-goods-cart .min-description {
   font-size: 18px;
}

.single-goods-cart .full-description {
   font-size  : 15px;
   line-height: 30px;
   margin-top : 30px;
}

.choose-size {
   height     : 40px;
   padding    : 35px 0;
   font-size  : 14px;
   font-weight: bold;
}


.choose-size::after {
   content: "";
   width  : 86%;
   display: block;
   clear  : both;
}

.choose-size .left {
   min-width : 280px;
   float     : left;
   text-align: left;
}

.choose-size .right {
   min-width    : 280px;
   float        : left;
   text-align   : right;
   padding-right: 70px;
}

.choose-size .active {
   color: #ff5912;
}

.choose-size button {
   background : none;
   border     : none;
   font-weight: bold;
}

.single-goods .goods-price {
   height     : 40px;
   margin     : 30px 0;
   font-size  : 17px;
   font-weight: bold;
   line-height: 80px;
}

.single-goods .goods-price::before {
   content   : "";
   width     : 500px;
   height    : 1px;
   display   : block;
   background: #edf0f2;
}

.single-goods .goods-price::after {
   content: "";
   width  : 86%;
   display: block;
   clear  : both;
}

.single-goods .goods-price .left {
   min-width : 125px;
   float     : left;
   text-align: left;

}

.single-goods .goods-price .right {
   min-width    : 280px;
   float        : right;
   text-align   : right;
   padding-right: 170px;
}

.single-goods .goods-price button {
   width        : 130px;
   height       : 45px;
   background   : #ff5912;
   border       : none;
   border-radius: 30px;
   color        : #fff;
   font-size    : 17px;
   cursor       : pointer;
}

.single-goods .goods-price img {
   padding-right: 20px;
}

@media screen and (max-width:768px) {

   .single-goods-cart {
      text-align: center;
   }

   .choose-size .left {
      text-align: center;
   }

   .choose-size .right {
      text-align: center;
      padding   : 0;
   }

   .single-goods .goods-price .left {
      text-align: center;
   }

   .single-goods .goods-price .right {
      padding   : 0;
      text-align: center;
   }

}